/*******************************************************************************
 * Loeading
 ******************************************************************************/
*[data-dash-is-loading="true"] {
  visibility: hidden;
}

*[data-dash-is-loading="true"]::before {
  content: "Loading...";
  display: inline-block;
  color: rgb(255, 255, 255);
  visibility: visible;
  text-align: center;
}

/*******************************************************************************
 * Scrollbar
 ******************************************************************************/ /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#main-container {
  height: 100vh;
  max-width: 100%;
  width: 100vw;
}

.navbar {
  margin: 0 0.75rem;
}

.navbar .container {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

#central-container {
  height: calc(100vh - 140px);
  padding-top: 70px;
  max-width: 100%;
  width: 100vw;
}

#left-col {
  height: calc(100vh - 180px);
  margin-left: -0.5rem;
  max-height: calc(100vh - 140px);
  position: fixed !important;
}

#choropleth-title {
  border: 1px solid #444;
  border-bottom: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
}

#id-choropleth-map {
  height: calc(100vh - 180px);
  width: 100%;
}

#right-col {
  height: calc(100vh - 180px);
}

#right-col .card {
  margin-top: 0px !important;
  border-left: 1px solid #444444;
  max-height: calc(100vh - 180px);
  overflow-x: hidden;
}

#id-univariate-plot,
#id-multivariate-plot {
  height: calc((100vh - 280px) / 2);
  width: 100%;
}

#id-crops-by-region-barplot div.dash-graph,
#id-crops-types-by-region-barplot div.dash-graph {
  height: calc((100vh - 216px) / 2);
  width: 100%;
}

.plot-separator {
  background-color: #222222;
  height: 0.5em;
}

#id-tabs-container .nav-item a {
  padding-left: 1rem;
  padding-right: 1rem;
}

#prediction-container label{
  white-space: nowrap;
}

#bottom-bar {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

select {
  background-color: transparent !important;
  color: gray !important;
  border: solid 1px gray !important;
  background-image: url("images/chevron.svg") !important;
}

select option {
  background-color: #303030 !important;
  color: gray !important;
}

input {
  background-color: transparent !important;
  color: gray !important;
  border: solid 1px gray !important;
  background-image: url("images/chevron.svg") !important;
}

#id_zinc_olsen_plot {
  padding-bottom: 60px !important;
}
